# Python
__pycache__/
*.pyc

# Ansible
collections/
.ansible/
*.retry
inventory.local.ini
quads_cfg.yaml
pass_or_fail_cfg.yaml
archive_cfg.yaml
scalelab_assignment.yml
results/
.cursor/
.claude/
.venv/
